mixin preloader
	.preloader
		.pulse

mixin svg(className = '', id)
	svg(class= className)
		use(xlink:href=`/assets/svg/sprite.svg#${id}`)

mixin hamburger(link)
	a(href="#" + link).hamburger.hamburger--elastic
		span.hamburger-box
			span.hamburger-inner

mixin nav(className, activeItem,  mod= "")
	nav(class= className)

		ul(class= className + "__list" + mod)
			each link, key in nav
				if (activeItem == "Каталог техники")
					-if (key == "Главная") continue;
					li(class=className + '__item' + mod)
						a(href=link class=className + "__link " + ( (key == activeItem) ? ' ' + 'active' : '') + mod)= key

				else
					li(class=className + '__item' + mod)
						a(href=link class=className + "__link " + ( (key == activeItem) ? ' ' + 'active' : '') + mod)= key


mixin btn (titleText, mod = "")
		button(class= "product__btn "+ mod type="button") #{titleText}

mixin breadcrumbs(activeItem)
	ul.breadcrumbs__list
		-for (var i = 0; i<breadcrumbs.length; i++)
			li(class="breadcrumbs__item")
				a(href="#" class="breadcrumbs__item-link " + ((i == activeItem) ? "active" : ""))= breadcrumbs[i]

mixin acco(mod)
	.acco__wrap
		if (mod == "Характеристики")
			.acco__container.active
				.acco-title= mod
				ul.acco__content.acco__list

					-for(var i =1; i<=3; i++)
						if (i ==1 )
							li.acco__item
								input(type="checkbox" name="checkbox"
									class="check__input" id="check" + i
									data-price=150000 checked)
								label(class="check__text" for="check"+ i)= "Характеристика " + i
						else
							li.acco__item
								input(type="checkbox" name="checkbox"
								class="check__input" id="check" + i
								data-price=200000)
								label(class="check__text" for="check" + i)= "Характеристика " + i
		else if (mod == "Информация")
			.acco__container
				.acco-title= mod
				.acco__content.acco__text
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Sunt expedita autem alias vel error, odio dolorum voluptatum,
						eum ducimus aliquam, unde repudiandae ea tempora, hic assumenda delectus
						itaque fuga molestiae adipisci! Voluptates ad similique culpa neque!


mixin debug
	.debug
		div
			div
				- for (var i = 1; i <= 12; i++)
				div

mixin formHidden(email, name="site", text="Заявка с сайта")
	// hidden required fields
	input(name="project_name" type="hidden" value= name)
	input(name="admin_email" type="hidden" value= email)
	input(name="form_subject" type="hidden" value= text)
	// end hidden required fields